[submodule "tg-bot-lib"]
	path = tg-bot-lib
	url = git@github.com:rustikHub/tg-bot-lib.git
[submodule "bozor-bot"]
	path = bozor-bot
	url = git@github.com:rustikHub/bozor-bot.git
[submodule "convertor-bot"]
	path = convertor-bot
	url = git@github.com:rustikHub/convertor-bot.git
[submodule "learn-kotlin"]
	path = learn-kotlin
	url = git@github.com:rustikHub/learn-kotlin.git
[submodule "world-ranks"]
	path = world-ranks
	url = git@github.com:rustikHub/world-ranks.git
